mixin user(name, img, title, role, twitter)
    .au-team-member
        .au-photo
            img(src="/wp-content/uploads/#{img}")
        .au-about
            .au-name
                if twitter
                    .au-social
                        a(href="https://twitter.com/#{twitter}" class="et_pb_font_icon et_pb_twitter_icon")
                h4=name
            .au-title=title
            .au-role=role
- placeholder_img = '2015/04/placeholder.jpeg'
- get_header()

#main-content.au-page-aliem-team

    // Core Team
    .au-container-fullwidth
        .au-container-fullwidth.au-team-header #[h1 Core Team]
        .au-team-container
            +user("Michelle Lin, MD", "2015/04/michelle-lin.jpg", "Professor of EM and Academy Endowed Chair for EM Education, UC San Francisco", "Co-Founder, ALiEMU", "mlin")
            +user("Chris Gaafary, MD", "2015/06/chris-gaafary.jpg", "EM Chief Resident, University of Tennessee Chattanooga", "Co-Founder / Chief of Design and Development, ALiEMU", "cgaafary")
            +user("Andrew Grock, MD", "2015/04/Andy-Grock.jpg", "Assistant Professor of Emergency Medicine UCLA Department of Emergency Medicine", "Creator and Lead Editor, ALiEM AIR Series", "andygrock")
            +user("Bryan Hayes, PharmD", "2015/04/mwG3dREX.jpeg", "Clinical Associate Professor, University of Maryland", "Creator and Lead Editor, ALiEM Capsules Series", "pharmertoxguy")
            +user("Derek Sifford, FP-C, CCP-C", "2015/06/derrick.jpg", "Paramedic. Undergraduate Student. ALiEM CTO", "Chief Technical Officer, ALiEMU", "flightmed1")
            +user("Jonathan Bronner, MD", "2016/06/jonathan-bronner.jpeg", "Assistant Professor And Assistant Program Director, University of Kentucky Department of EM", "ALiEMU Education Design Officer", "Bronski_EM")
            +user("Nikita Joshi, MD", "2015/04/nikitajoshi.jpg", "Clinical Instructor, Stanford University, Department of EM", "Member, ALiEMU Advisory Board", "njoshi8")
            +user("Teresa Chan, MD", "2015/06/teresa-chan.jpg", "Assistant Professor, McMaster University", "Member, ALiEMU Advisory Board", "tchanmd")
            +user("Brent Thoma, MD", "2015/06/brent-thoma.jpg", "Simulation Fellow, Massachusetts General Hospital", "Member, ALiEMU Advisory Board", "brent_thoma")

    // AIR Team
    .au-container-fullwidth
        .au-container-fullwidth.au-team-header.au-air-team #[h1 Air Team]
        .au-team-container
            +user("Andrew Grock, MD", "2015/04/Andy-Grock.jpg", "Assistant Professor of Emergency Medicine UCLA Department of Emergency Medicine", "Creator and Lead Editor, ALiEM AIR Series", "andygrock")
            +user("Michelle Lin, MD", "2015/04/michelle-lin.jpg", "Professor of EM and Academy Endowed Chair for EM Education, UC San Francisco", "Founder, ALiEMU", "mlin")
            +user("Nikita Joshi, MD", "2015/04/nikitajoshi.jpg", "Clinical Instructor, Stanford University, Department of EM", "Member, ALiEMU Advisory Board", "njoshi8")
            +user("Eric Morley, MD", "2015/04/ericmorley.jpg", "Associate Program Director of EM; Stony Brook University", "Associate Director AIR Executive Board", "emericmorley")
            +user("Felix Ankel, MD", "2015/04/felix-ankel.jpg", "VP & Exec Director of Health Prof Education, HealthPartners Institute; Associate Professor of EM; Univ of Minnesota", "", "felixankel")
            +user("Jeremy Branzetti, MD", "2015/04/jeremy-branzetti.jpg", "Associate Program Director and Assistant Professor of EM; University of Washington Department of EM", "", "thebranzetti")
            +user("Jay Khadpe, MD", "2015/04/jaykhadpe.jpg", "Assistant Residency Director at Kings County Hospital Center / SUNY Downstate Medical Center", "", "flatbushem")
            +user("Kasey Mekonnen, MD", "2016/06/KMphoto.jpg", "Resident, Alameda-Highland Emergency Medicine Residency Program", "", "kmekonnenEM")
            +user("Allie Min, MD", "2016/06/min-512x512.jpg", "Assistant Professor; Associate Residency Director, University of Arizona – University Campus", "", "")
            +user("Salim Rezaie, MD", "2015/04/salim-rezaie.jpg", "Associate Clinical Professor of EM/IM; University of Texas Health Science Center at San Antonio", "", "srrezaie")
            +user("Lynn Roppolo, MD", "2015/06/lynnroppollo.jpg", "Associate Professor, Associate Residency Program Director at UT Southwestern Medical Center Dallas", "", "lynnroppolo")
            +user("Anand Swaminathan MD MPH", "2015/04/Swami.jpg", "Assistant Program Director and Assistant Professor of EM, NYU Medical Center", "", "emswami")
            +user("Taku Taira, MD", "2015/04/takutaira.jpg", "Associate Program Director and Assistant Professor of EM, USC School of Medicine", "", "takutaira")
            +user("Lalena Yarris MD MCR", "2015/04/lainieyarris.jpg", "Program Director and Associate Professor of EM; Oregon Health Sciences University", "", "")

    // Capsules Team
    .au-container-fullwidth
        .au-container-fullwidth.au-team-header.au-capsules-team #[h1 Capsules Team]
        .au-team-container
            +user("Bryan Hayes, PharmD", "2015/04/mwG3dREX.jpeg", "Clinical Associate Professor, University of Maryland", "Creator and Lead Editor, ALiEM Capsules Series", "pharmertoxguy")
            +user("Nadia I. Awad, PharmD, BCPS", "2015/06/nadia-awad-3.jpg", "Emergency Medicine Pharmacist, Robert Wood Johnson University Hospital (New Brunswick, New Jersey)", "", "Nadia_EMPharmD")
            +user("Craig Cocchio, PharmD, BCPS", "2015/04/craig-coccio.jpg", "Emergency Medicine Pharmacist, Ernest Mario School of Pharmacy (Rutgers), Robert Wood Johnson University Hospital", "", "iEMPharmD")
            +user("Zlatan Coralic, PharmD, BCPS", "2015/04/zlatan-coralic.jpeg", "Emergency Medicine Pharmacist, Assistant Clinical Professor, University of California San Francisco", "", "ZEDPharm")
            +user("Chris Edwards, PharmD, BCPS", "2015/06/edwards-portrait.jpg", "Emergency Medicine Pharmacist, University of Arizona Medical Center", "", "emergencypharm")
            +user("Douglas Gowen, PharmD, BCPS", placeholder_img, "Emergency Medicine Pharmacist, Glens Falls Hospital (Glens Falls, New York)", "", "DougEDPharm")
            +user("Meghan Groth, PharmD, BCPS", "2015/06/meghan-portrait.jpg", "Emergency Medicine Pharmacist, University of Vermont Medical Center", "", "EMpharmgirl")
            +user("Michelle Hines, PharmD", "2015/06/michelle-hines-1.jpg", "Emergency Medicine Pharmacist, University of Maryland Medical Center", "", "mEDpharmD")
            +user("Jill Logan, PharmD, BCPS", "2015/04/jill-logan.jpeg", "Emergency Medicine Pharmacist, Baltimore Washington Medical Center", "", "EMPharm")
            +user("Glenn Oettinger, PharmD, BCPS", "2015/04/glenn-oettinger.jpeg", "Emergency Medicine Pharmacist, Thomas Jefferson University", "", "glennoettinger")
            +user("Rob Pugliese, PharmD, BCPS", "2015/04/obert-pugliese.jpg", "Emergency Medicine Pharmacist, Thomas Jefferson University", "", "theEDpharmacist")
            +user("Adam Spaulding, PharmD, BCPS", "2015/04/adam-spaulding.jpeg", "Emergency Medicine Pharmacist, Waterbury Hospital Health Center", "", "PharmERAtom")
            +user("Paul Takamoto, PharmD", "2015/04/paul-takamoto.jpeg", "Emergency Medicine Pharmacist, University of California San Francisco", "", "ptakEDRx")
            +user("Mark Culver, PharmD, BCPS", "2015/06/mark-culver.jpg", "Emergency Medicine Pharmacist, Banner University Medical Center (Phoenix)", "", "EMdruggist")
            +user("Lewis Nelson, MD, FAACT, FACMT, FACEP", "2015/04/lewis-nelson.png", "Professor of Emergency Medicine, New York University", "", "LNelsonMD")
            +user("Michael Winters, MD, FAAEM, FACEP", "2015/06/winters-portrait.jpg", "Associate Professor of Emergency Medicine and Internal Medicine, University of Maryland", "", "critcareguys")
            +user("David Juurlink, BPharm, MD, PhD, FRCPC", "2015/04/david-juurlink.jpeg", "Professor of Medicine, University of Toronto", "", "DavidJuurlink")

    // AIR-Pro Team
    .au-container-fullwidth
        .au-container-fullwidth.au-team-header.au-airpro-team #[h1 AIR-Pro Team]
        .au-team-container
            +user("Fareen Zaver, MD FRCPC EM", "2016/06/fareen.jpg", "Clinical Lecturer, University of Calgary", "Creator and Lead Editor, ALiEM AIR-Pro Series", "fzaver")
            +user("Michelle Lin, MD", "2015/04/michelle-lin.jpg", "Professor of EM and Academy Endowed Chair for EM Education, UC San Francisco", "Founder, ALiEMU", "mlin")
            +user("Robert Cooney, MD", "2016/06/rob-cooney.jpg", "Associate Program Director, Geisinger Medical Center", "", "EMEducation")
            +user("Michael Hansen DO", "2016/06/michael-hansen.jpg", "Chief Resident, Christiana Care", "", "mhansenEM")
            +user("Evan Leibner MD, Ph.D", "2016/06/evan-leibner.jpg", "Surgical/Trauma Critical Care Fellow Shock Trauma Center/University of Maryland", "", "Evan_Leibner")
            +user("Lynn Roppolo, MD", "2015/06/lynnroppollo.jpg", "Associate Professor, Associate Residency Program Director at UT Southwestern Medical Center Dallas", "", "lynnroppolo")
            +user("Salim Rezaie, MD", "2015/04/salim-rezaie.jpg", "Associate Clinical Professor of EM/IM; University of Texas Health Science Center at San Antonio", "", "srrezaie")
            +user("Jeff Riddell, MD", "2016/06/jeff-riddell.jpg", "Education Fellow, University of Washington; Medical Education Research Fellow, Division of Emergency Medicine, University of Washington", "", "jeff__riddell")
            +user("Maggie Sheehy MD, MSC", "2016/06/maggie-sheehy.jpg", "", "", "mksheehy")
            +user("Samuel Zidovetzki MD", placeholder_img, "Chief Resident, University of Wisconsin", "", "")
            +user("Seth Trueger, MD, MPH", "2016/06/seth-trueger.jpg", "Department of Emergency Medicine, Northwestern University", "", "MDaware")
            +user("Sam Ghali, MD", placeholder_img, "", "", "em_resus")
            +user("Rob Bryant, MD", "2016/06/rob-bryant.jpg", "", "", "robjbryant13")
            +user("J. Scott Weiters, MD", "2016/06/scott-weiters.jpg", "Director of Undergraduate Medical Education; Texas A&M EM Residency Program", "", "EMedCoach")


- get_footer()
